{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    <ul class="timeline timeline-simple">
        {% for post in paginator.results %}
            <li class="timeline-inverted">
                <div class="timeline-badge danger">
                    <i class="material-icons">card_travel</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <a href="{{ path('blog_post', {slug: post.slug}) }}">
                          <span class="badge badge-pill badge-danger">  {{ post.title }}</span>
                        </a>
                        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</span>
                        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
                    </div>
                    <div class="timeline-body">
                        <p>{{ post.summary }}</p>
                    </div>
                    <h6>
                        <i class="ti-time"></i> {{ include('blog/_post_tags.html.twig') }}
                    </h6>
                </div>
            </li>
        {% else %}
            <div class="well">{{ 'post.no_posts_found'|trans }}</div>
        {% endfor %}
    </ul>

    {% if paginator.hasToPaginate %}
    {% include 'layout/pagination.html.twig' with {'paginator': paginator} %}

    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
