{% extends 'base.html.twig' %}

{% block title %}Place{% endblock %}

{% block body %}
    <h1>Place</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ place.country }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ place.state }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ place.city }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ place.createdAt ? place.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ place.updatedAt ? place.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('place_index') }}">back to list</a>

    <a href="{{ path('place_edit', {'id': place.id}) }}">edit</a>

    {{ include('place/_delete_form.html.twig') }}
{% endblock %}
