{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Path</th>
                <th>Material</th>
                <th>Active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.name }}</td>
                <td>{{ menu.path }}</td>
                <td>{{ menu.material }}</td>
                <td>{{ menu.active ? 'Yes' : 'No' }}</td>
                <td>{{ menu.createdAt ? menu.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ menu.updatedAt ? menu.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('menu_show', {'id': menu.id}) }}">show</a>
                    <a href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('menu_new') }}">Create new</a>
{% endblock %}
